*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #080808);
  background: linear-gradient(to right, #1a3979, #63686b);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styles */
header {
  background: #000000;  
  background: -webkit-linear-gradient(to right, #000000, #080808);  
  background: linear-gradient(to right, #1a3979, #63686b); 
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  margin-left: 0px; /* Adjust the margin as needed */
}

h1 {
  flex-grow: 1;
  text-align: center;
  margin-right: 85px;
  font-family: monospace;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.sign-up {
  background-color: #5fddd7;
  color: black;
  padding: 13px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.sign-up:hover {
  background-color: #339de4;
}

/* Navigation styles */
.nav-container {
  width: 28%; 
  margin: 20px auto;  
  border-radius: 15px; 
}

nav {
  padding: 20px 10px; 
  text-align: center;
  display: flex;
  justify-content: center; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

ul a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
}


ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: #5fddd7;
  display: block;
  margin: auto;
  transition: width 0.5s;
}


ul li:hover::after {
  width: 100%;
}

h3{
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
}

.carousel-container {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 50px auto; 
  width: 400px; 
}

.carousel-track {
  display: flex;
  width: 1200px;
  transition: transform 0.5s ease-in-out;
}

.carousel-box {
  box-sizing: border-box;
  flex: 0 0 400px;
  padding: 20px; 
  text-align: center;
  border: 2px solid #ccc;
  background: #334079;
  color: #fff;
}

.carousel-box img {
  width: 50%;
  height: 50%;
  object-fit: contain; 
  border-radius: 8px;
  margin-bottom: 10px;
}
.carousel-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-box p {
  font-size: 16px;
}

#prev, #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  background-color: #333;
  border: 1px solid #ccc;
  padding: 10px;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}




/* Footer styles */
.footer {
  width: 100%;
  padding: 30px 0;
  background: #333;
  color: #efefef;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: auto;
  max-width: 100%;
}

.footer div {
  text-align: center;
  flex-grow: 1;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

.col-2 {
  flex-grow: 2;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}
